@model IEnumerable<Astro.DAL.Models.Insight>
@{
    ViewData["Title"] = "Pogoda na Marsie";
}

<h1 style="text-align:center">Pogoda na Marsie</h1>

@foreach(var item in Model)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th width="10%">Identyfikator:</th>
                    <td width="10%">@item.Number</td>
                    <th width="20%">Data pomiarów:</th>
                    <td width="20%">@item.Date</td>
                    <th width="20%">Koniec pomiarów:</th>
                    <td>@item.EndDate</td>
                </tr>
                <tr>
                    <th colspan="2">Temperatura:</th>
                    <th colspan="2">Wiatr:</th>
                    <th colspan="2">Ciśnienie:</th>
                </tr>
                <tr>
                    <td colspan="2" id="maxTemp">
                        <select class="form-control">
                            <option>@item.MaxTemp F</option>
                            <option>@item.MaxTempC C</option>
                            <option>@item.MaxTempK K</option>
                        </select>
                    </td>
                    <td colspan="2" id="maxWind">
                        <select class="form-control">
                            <option>@item.MaxWind mps</option>
                            <option>@item.MaxWindFoot foot </option>
                            <option>@item.MaxWindYard yard</option>
                            <option>@item.MaxWindKnot knot</option>
                            <option>@item.MaxWindKPH kph</option>
                            <option>@item.MaxWindMiPH mileph</option>
                        </select>
                    </td>
                    <td colspan="2" id="maxPress">
                        <select class="form-control">
                            <option>@item.MaxPress Paskal</option>
                            <option>@item.MaxPressBAR Bar</option>
                            <option>@item.MaxPressPSI PSI</option>
                            <option>@item.MaxPressAT Atm</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="avgTemp">
                        <select class="form-control">
                            <option>@item.AvgTemp F</option>
                            <option>@item.AvgTempC C</option>
                            <option>@item.AvgTempK K</option>
                        </select>
                    </td>
                    <td colspan="2" id="avgWind">
                        <select class="form-control">
                            <option>@item.AvgWind mps</option>
                            <option>@item.AvgWindFoot foot </option>
                            <option>@item.AvgWindYard yard</option>
                            <option>@item.AvgWindKnot knot</option>
                            <option>@item.AvgWindKPH kph</option>
                            <option>@item.AvgWindMiPH mileph</option>
                        </select>
                    </td>
                    <td colspan="2" id="avgPress">
                        <select class="form-control">
                            <option>@item.AvgPress Paskal</option>
                            <option>@item.AvgPressBAR Bar</option>
                            <option>@item.AvgPressPSI PSI</option>
                            <option>@item.AvgPressAT Atm</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="minTemp">
                        <select class="form-control">
                            <option>@item.MinTemp F</option>
                            <option>@item.MinTempC C</option>
                            <option>@item.MinTempK K</option>
                        </select>
                    </td>
                    <td colspan="2" id="minWind">
                        <select class="form-control">
                            <option>@item.MinWind mps</option>
                            <option>@item.MinWindFoot foot </option>
                            <option>@item.MinWindYard yard</option>
                            <option>@item.MinWindKnot knot</option>
                            <option>@item.MinWindKPH kph</option>
                            <option>@item.MinWindMiPH mileph</option>
                        </select>
                    </td>
                    <td colspan="2" id="minPress">
                        <select class="form-control">
                            <option>@item.MinPress Paskal</option>
                            <option>@item.MinPressBAR Bar</option>
                            <option>@item.MinPressPSI PSI</option>
                            <option>@item.MinPressAT Atm</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br />
            <br />
        </div>
    </div>
}