@model Astro.DAL.Models.Topic

@using Microsoft.AspNetCore.Identity
@using Astro.DAL.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<h6><b>Dodano dnia: </b>@Model.Date <b>Autor:</b> @Model.User.UserName</h6>

@if (SignInManager.IsSignedIn(User))
{
    <h5><a asp-controller="Forum" asp-action="ChangeRate" asp-route-id="@Model.Id" asp-route-up="false"><img src="~/Images/red_down.jpg" width="25px" height="25px" /></a> @Model.Rate <a asp-controller="Forum" asp-action="ChangeRate" asp-route-id="@Model.Id" asp-route-up="true"><img src="~/Images/green_up.png" width="25px" height="25px" /></a></h5>
}

<hr />

@foreach (var item in Model.Comments)
{
    <table class="table table-striped table-bordered">
        <tr>
            <td width="25%" style="font-size:15px">
                <b id=@("UserName"+item.Id) onclick="UserName(@item.Id)">@item.User.UserName</b>
                <br />
                <b>Dołączył:</b> @item.User.RegisterDate
                <br />
                <b>Online:</b> @item.User.LastLoginDate
                <br />
                <b>Tematy:</b> @item.User.TopicsCount <b>Komentarze:</b> @item.User.CommentsCount
            </td>
            <td>
                <div id=@("CommentContent"+item.Id)>
                    @item.Content
                    <hr />
                    <b>Dodano dnia:</b> @item.Date
                </div>

                <div id=@("EditCommentForm"+item.Id) style="display:none">
                    <form asp-controller="Forum" asp-action="EditComment">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="hidden" name="topicId" value="@Model.Id" />
                        <input type="text" name="comment" value="@item.Content" class="form-control" />
                        <input type="submit" value="Zapisz" class="myButton" style="margin-top:5px" />
                    </form>
                </div>

            </td>
            <td width="20%">
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="myButton" onclick="EditComment(@item.Id)">Edytuj</button>
                }
                @if (User.IsInRole("Administrator"))
                {
                    if (Model.Comments.IndexOf(item) != 0)
                    {
                        <a asp-controller="Forum" asp-action="DeleteComment" asp-route-id="@item.Id" asp-route-topicId="@Model.Id" class="myButtonDanger">Usuń</a>
                    }
                }
            </td>
        </tr>
    </table>
    <hr />
}

@if (SignInManager.IsSignedIn(User))
{
    <br />
    <form asp-controller="Forum" asp-action="AddComment">
        <input type="hidden" name="topicId" value="@Model.Id" />
        <label class="control-label">Treść</label>
        <textarea name="comment" class="form-control" id="CommentTextArea"></textarea>
        <br />
        <input type="submit" value="Wyślij" class="myButton" />
    </form>
}

<script>

    function EditComment(id) {
        content = document.getElementById("CommentContent" + id);
        form = document.getElementById("EditCommentForm" + id);
        if (form.style.display == "none") {
            form.style.display = "block";
            content.style.display = "none";
        }
        else {
            form.style.display = "none";
            content.style.display = "block";
        }
    }

    function UserName(id) {
        content = document.getElementById("UserName" + id);
        textarea = document.getElementById("CommentTextArea");
        textarea.value = textarea.value + "@@" + content.innerHTML;
    }

</script>